@import 'tailwindcss';

@theme {
  --font-montserrat: montserrat, sans-serif;
  --color-dark-blue: #164864;
  --color-light-blue: #248cc5;
  --color-orange: #ff7f1b;
  --color-red: #ee3c3c;
  --text-btn: 0.625rem;
  --color-light-gray: #faf5e4;
}